

.header {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: calc(100vw - 50px);
    &__title {
        color: $white;
        font-weight: 200;
        font-size: 3em;

        @media only screen and (max-width: 700px) {
            font-size: 1.5em;
        }

        @media only screen and (max-width: 400px) {
            font-size: 1.2em;
        }
    }

    

    &__menu {
        width: 100vw;
        display: none;

        flex-direction: column;

        a {
            color: white;
            font-size: 1.3em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__toggle {
        width: 50px;
        height: 50px;
        position: relative;
        @media only screen and (max-width: 700px) {
            width: 25px;
            height: 25px;

            span {
                width: 25px !important;
            }
    
            span:nth-child(2) {
                top: 12.5px !important;
            }
    
            span:nth-child(3) {
                top: 25px !important;
            }
        }
        span {
            position: absolute;
            background-color: $off-white;
            left: 0;
            width: 50px;
            height: 5px;
            border-radius: 5px;
        }

        span:nth-child(2) {
            top: 22.5px;
        }

        span:nth-child(3) {
            top: 45px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}