@import "variables";
@import "header";
@import "hero";
@import "section";
@import "foundation";
@import "tech";
@import "uses";

html, body {
    font-family: Avenir;
    padding: 0;
    margin: 0;
    border: 0;
    color: $dark-color;
}