.modal {
    background-color: $off-white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 500px;
    max-height: 90vh;
    overflow-y: scroll;
    left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &__title-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__title {
            font-size: 2em;
            font-weight: 200;
        }

        &__dismiss {
            width: 25px;
            height: 25px;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            span {
                width: 25px;
                height: 3px;
                border-radius: 1.5px;
                background-color: $dark-color;
                position: absolute;
            }

            span:nth-child(1) {
                transform: rotate(45deg);
            }

            span:nth-child(2) {
                transform: rotate(-45deg) translate(0, -50%);
            }
        }
    }
}